*.o
*.lo
*.la
*.db
.DS_Store
_deps/
build/
build-aux/
CMakeFiles/
CMakeScripts/
radiodatasystem.xcodeproj/
m4/
/autom4te.cache/
CMakeCache.txt
cmake_install.cmake
Makefile
Makefile.in
aclocal.*
config.h*
config.log
config.status
Debug/
.libs/
.deps/
*.dylib
*.gz
configure*
radiodatasystem.drawio
.$radiodatasystem.drawio.bkp
rdsdump
rdstmc

